html {
  background-color: #fff;
}

/*******************************************************************
BODY
*******************************************************************/

body {
  width: 100%;
  font-family: helvetica, sans-serif;
}

/*******************************************************************
HEADER
*******************************************************************/

header {
  width: 90%;
  font-family: "open sans", sans-serif;
  font-size: 1em;
  font-weight: 700;
  color: #3594cb;
  margin: 40px auto;
}

.site-name {
  text-transform: uppercase;
  letter-spacing: .5em;
}

.fa-question-circle-o {
  position: relative;
}

h1 {
  font-size: 1.7em;
  padding-top: 20px;
}

.main-nav li {
  display: inline-block;
  float: right;
}



/*******************************************************************
MAIN
*******************************************************************/

main {
  margin-top: 2%;
}

.timeline-ul {
  width: 75%;
  margin: 0 auto;
  /*height: 1000px;*/
  /*z-index: 1;*/
}

.timeline-ul li {
  width: 100%;
  position: relative;
  /* remove this at the end */
  /*background: green;*/
}

/*******************************************************************
TIME
*******************************************************************/

.time-wrapper {
    width: 25%;
}

.timeline-time {
  /* remove this at the end */
  /*background: red;*/
}

.timeline-time span {
  display: block;
  text-align: right;
  padding-right: 35%;
  /* remove this at the end */
  /*background: blue;*/
}

.li-date {
  font-size: 1.1em;
  color: #bdd0db
}
.li-time {
  font-size: 2.9em;
  color: #3594cb;
  margin-top: 7px;
}

/*******************************************************************
TIMELINE ICON AND DIVIDING LINE
*******************************************************************/

.vertical-line {
    transform: rotate(90deg);
    position: relative;
    left: auto;
    left: -28%;
    background: #afdcf8;
    border: 0;
    height: 10px;
    z-index: -1;
}


/*******************************************************************
TIMELINE-DESCRIP
*******************************************************************/

.timeline-descrip {
  width: 65%;
  position: absolute;
  top: 0;
  right: 0;
  clear: both;
  /*background-color: #3594cb;*/
  background-color: #6cbfee;
  padding: 40px 35px 60px 35px;
  border-radius: 5px;
}

h2 {
  font-size: 1.7em;
  font-weight: 900;
  color: #fff;
  padding-bottom: 10px;
}

.p-line {
  margin-bottom: 27px;
  background-color: #fff;
  height: .5px;
  border: 0;
}

.light-circle {
  height: 54px;
  width: 54px;
  position: absolute;
  left: 28.54%;
  top: 50%;
  background-color: #afdcf8;
  border-radius: 50%;
}

.dark-circle {
  height: 42px;
  width: 42px;
  position: absolute;
  top: 50%;
  background-color: #3594cb;
  border-radius: 50%;
}

.fa-mobile {
  position: relative;
  left: 28.54%;
  top: 1%;
  color: #3594cb;
  border: 5px;
}

.timeline-descrip p {
  /*font-family: sans-serif;*/
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.4em;
  color: #fff;
}
