html {
  background-color: #fff;
}

/*******************************************************************
BODY
*******************************************************************/

body {
  width: 100%;
  font-family: verdana, sans-serif;
}

/*******************************************************************
MAIN
*******************************************************************/

.timeline-ul {
  width: 75%;
  margin: 0 auto;
  /*height: 1000px;*/
  /*z-index: 1;*/
}

.timeline-ul li {
  width: 100%;
  position: relative;
  /* remove this at the end */
  background: green;
}

/*******************************************************************
TIME
*******************************************************************/

.time-wrapper {
    width: 25%;
}

.timeline-time {
  /* remove this at the end */
  background: red;
}

.timeline-time span {
  display: block;
  text-align: right;
  padding-right: 5%;
  /* remove this at the end */
  background: blue;
}

.li-time {
  color: #3594cb;
}

/*******************************************************************
TIMELINE ICON AND DIVIDING LINE
*******************************************************************/

.vertical-line {
    transform: rotate(90deg);
    position: relative;
    left: auto;
    left: -25%;
    background: #afdcf8;
    border: 0;
    height: 10px;

    z-index: -1;
}


/*******************************************************************
TIMELINE-DESCRIP
*******************************************************************/

.timeline-descrip {
  width: 65%;
  position: absolute;
  top: 0;
  right: 0;
  clear: both;
  background-color: #3594cb;
}
